:root{
    --brightblue:#3cb9e1;
    --limegreen:#4FCA14;
    --simsblue:#0097EC;
    --lightblue:#edf5f6;
    --deepgreen:#208601;
}

body {
    background-color: var(--lightblue);
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin:0px;
    padding:0px;
}
h1 {
    color:white;
    background-color: var(--limegreen);
    margin: 0px;
    padding: 5px;
    padding-left:20px;
}
h2{
    color:var(--simsblue);
    border-bottom: 2px solid var(--brightblue);
    background-color:white;
    padding: 5px 20px;
}
h3{
    color:var(--simsblue);
    margin:0px;
    padding:0px;
}

.header {
    background-color: var(--simsblue);
    color: white;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    padding: 20px;
}
.inner-body {   
    max-width:750px;
    margin: 0 auto;
    border: 2px solid var(--limegreen);
    border-top:none;
    border-bottom:none;
}
.topnav {
    overflow: hidden;
    background-color:white;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    border-bottom: 2px solid var(--limegreen);
}  
.topnav a {
    float: left;
    display: block;
    color: var(--deepgreen);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
}  
.topnav a:hover {
    background-color: var(--brightblue);
    color: white;
}

.accordion{
    cursor:pointer;
    transition: 0.4s;
}
.panel{
    display:none;
    overflow:hidden;
}
.accordion:after {
    content: '\02795';
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
  }
  .active:after {
    content: "\2796";
  }

p {
    text-indent: 15px;
    padding: 0px 10px 0px 10px;
    line-height:25px;
}
a {
    color:var(--deepgreen);
    text-decoration: none;
}

ul { 
    list-style-type: disc;
}
ul.nonbull{
    list-style-type: none;
}
li {
    text-indent: 0px;
    list-style-position: inside;
    padding-bottom:5px;
    padding-top:5px;
}

table{
    width:95%;
    max-width:750px;
    margin: auto;
}
th,td{
    padding: 5px;
    border-bottom: 1px solid var(--brightblue);
    text-align:left;
    vertical-align:top;
}
tr ul{
    padding-bottom: 5px;
}
tr:hover {
    background-color:white;
}

.roll, #expBtn{
    display: block;
    color:white;
    border: none;
    border-radius: 5px;
    background-color: var(--limegreen);
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin:auto;
}
.rollbutton{
    display:inline;
    padding:100px;
}
.reroll{
    display: block;
    color:white;
    border: none;
    border-radius: 5px;
    background-color: var(--limegreen);
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    margin:0px;
}
.tableroll{
    width:68px;
}
.attr{
    width:150px;
}

.footer {
    background-color: white;
    color: ar(--simsblue);
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    padding: 5px; 
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top: 2px solid var(--limegreen);
}
.footer a {
    color: var(--deepgreen);
}

#MariStat, #Child, #PrimCar, #SecCar, #GenGoal, #MiscFun {
    color:black;
}

#export {
    display: block;
    color:white;
    border: none;
    border-radius: 5px;
    background-color: var(--limegreen);
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin:auto;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  
  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  
  /* The Close Button */
  .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
  }
  
  .modal-body {padding: 2px 16px;}
  
  .modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
  }
  
  .modal-body {padding: 2px 16px;}
  
  .modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
  }